## Ignore data outputs and large files, but allow specific files in data/outputs/
data/outputs/*
!data/outputs/.gitkeep
!data/outputs/ndvi_10m_github.png
!data/outputs/veedel_green_categorized_resized.png
*.tif
*.jp2
*.gpkg
*.qgz
*.shp
*.dbf
*.prj
*.shx
*.sbn
*.sbx
*.csv
*.aux.xml
*.png
!README.md
!Notebooks/
!data/boundaries/
